@import '../../../../../styles/variables';

.ticket-details-item {
  font-weight: 600;

  &__title {
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: #a0b0b9;
    text-transform: uppercase;
    margin: 12px 0 0;
  }

  &__text {
    font-size: 14px;
    line-height: 28px;
    color: $mainTextColor;
    margin: 0;
  }
}